*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(joeyywavenew2.gif);
    background-size:contain;
    background-position: center;
    background-color: black;
    overflow: hidden;
    overflow: auto;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 15px 0;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 229, 229, 0.1   );
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(229, 229, 229, 0.2);
}
.logo{
    width: 50px;
    margin-left: 20px ;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
     display: inline-block;
     margin: 0 25px;
     position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #E5E5E5;
    text-transform: uppercase;
    opacity: .9;
    transition: opacity 0.5s ease;
    background-image: linear-gradient(to right, #FCA311 50%, #E5E5E5 50%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul li a:hover {
    opacity: .9;
    background-position: left;
}
.navbar ul li::after{
    content: '';
    height: 4px;
    width: 0%;
    background: #FCA311;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.contact-box {
    background-color: rgba(1, 1, 1, .8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .contact-info span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .contact-info span#email {
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: underline;
  }

  .contact-info span#email:hover {
    color: #333;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .gallery-item {
    display: block;
    text-align: center;
  }
  
  .gallery-item img {
    margin-top: 20px;
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  .gallery-item:hover img {
    transform: scale(1.5);
  }
  .galleryproj {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .gallery-itemproj {
    position: relative;
    text-align: center;
    margin:20px;
    transition: transform 0.9s ease;
  }
  
  .gallery-itemproj a {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a, a:visited, a:hover, a:active {
    text-decoration: none;
}
  
  
  .gallery-itemproj img {
    margin-top: 20px;
    max-width: 75%;
    height: auto;
    border-radius: 5px;
  }
  
  .image-caption {
    margin: 10px;
    color: #E5E5E5;
    text-align: center;
    font-size: 25px;
    width: auto;
    padding:5px;
    order: 2;
    opacity:0;
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 1);
    border-radius:7px;
    transition: opacity .8s ease-in-out;
  }
  
  .gallery-itemproj:hover {
    transform:scale(1.05);
  }
  .gallery-itemproj:hover .image-caption {
    opacity: 1;
  }
  .description {
    padding: 20px;
    background-color: rgba(0, 0, 0,.9);
    border-radius: 10px;
    color: rgba(229, 229, 229);
    font-size: 18px;
    line-height: 1.6;
    width: 80%; /* You can adjust this value depending on your needs */
    margin: 20px auto; /* centers the description box */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: auto;
}

.description:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.semester h3 {
    cursor: pointer;
    margin:10px;
    /* Add more styles */
  }
  
  .semester div {
    /* Add your styles */
  }

  
  
  